/exercise_job_demand.ipynb
/exercise_skill_pay_analysis.ipynb
/Matplotlib_box plots.ipynb
/matplotlib_format_charts.ipynb
/Matplotlib_histograms.ipynb
/matplotlib_scatter_plots.ipynb
/pandas_accessing_Data.ipynb
/Pandas_applying_functions.ipynb
/pandas_concat_dataframes.ipynb
/pandas_data_cleaning.ipynb
/pandas_Data_Management.ipynb
/Pandas_explode.ipynb
/Pandas_index_Mangement.ipynb
/Pandas_investigate_trending_skill.ipynb
/Pandas_merging_dataframes.ipynb
/pandas_pivot_table.ipynb
/pie_charts.ipynb
/Quarter_1.csv
/quarter_1.parquet
/quarter_1.xlsx
/Seaborn _intro.ipynb
/test.ipynb